@import "global";
@import "material-you/primary";
@import "material-you/secondary";
@import "material-you/tertiary";

@mixin material-outline {
    border: #{var(--md-sys-color-outline)} solid 2px;
}

@mixin material-container {
	@include theme-transition;
	padding: $container-padding;
	border-radius: $container-border-radius;
	
}

@mixin material-button {
	@include theme-transition;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: $button-padding;
	border-radius: $button-border-radius;
	text-decoration: none;
	line-height: $button-line-height;
	
	& > .material-symbols-rounded {
		margin-right: 0.25rem;
	}
}

@mixin material-button--filled-primary {
	@include material-colored--primary;
	@include material-button;
}
@mixin material-button--tonal-primary {
	@include material-container--primary;
	@include material-button;
}
@mixin material-button--tonal-primary-inverted {
	@include material-inverted--primary;
	@include material-button;
}

@mixin material-button--filled-secondary {
	@include material-colored--secondary;
	@include material-button;
}
@mixin material-button--tonal-secondary {
	@include material-container--secondary;
	@include material-button;
}
@mixin material-button--tonal-secondary-inverted {
	@include material-inverted--secondary;
	@include material-button;
}
