@import "global";
@import "material-you/primary";

@mixin material-container {
	padding: $container-padding;
	border-radius: $container-border-radius;
}

@mixin material-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	max-height: 2rem;
	padding: $container-padding;
	border-radius: $button-border-radius;
}
