@import "global";
@import "material-you/primary";
@import "material-you/secondary";
@import "material-you/tertiary";

@mixin material-container {
	@include theme-transition;
	padding: $container-padding;
	border-radius: $container-border-radius;
	
}

@mixin material-button {
	@include theme-transition;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	max-height: 2rem;
	padding: $container-padding;
	border-radius: $button-border-radius;
}
