$container-padding: 1.5rem 1.3rem;
$container-border-radius: 1rem;

$button-border-radius: 100px;

$system-fallback-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$theme-transition-speed: 0.25s;
@mixin theme-transition {
	transition:
		background $theme-transition-speed ease,
		color $theme-transition-speed ease;
}
