@import "material-you";

:host {
	display: flex;
}

.accent-switcher {
	display: flex;
    margin: 2rem 0rem;
    height: 8rem;
	gap: 2rem;

	@include media-breakpoint-down(lg) {
		max-width: 100%;
	}

	&__picture {
		user-select: none;
    	height: 100%;
	}

	&__container {
		width: 5rem;
		overflow: hidden;
		border-radius: 2.5rem;
		transition: border-radius $theme-transition-speed ease;
		border: transparent solid 3px;


		&--selected {
			border: #{var(--md-sys-color-primary)} solid 3px;
			border-radius: 1.2rem;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	&__custom-image {
		display: flex;
		position: relative;
    	width: 100%;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		@include material-colored--primary;
	}

	&__file-input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&__custom-image-container {
		display: flex;
		align-items: center;
		height: 100%;
		@include material-colored--primary;
	}

	&__custom-image-img {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	&__custom-image-delete {
		@include material-colored--primary;
		// padding: 1rem 0.5rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-align: center;
	}

	&__file-icon {
		font-size: 1rem;
		margin-bottom: 0.5rem;

		@include media-breakpoint-down(lg) {
			font-size: 1.5rem;
			margin-bottom: 0rem;
		}
	}

	&__file-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $button-padding;
		font-size: 0.8rem;
		text-align: center;
	}

	&__file-text,
	&__file-select-text {
		font-size: 0.8rem;
	}

	&__file-select-text {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}
