@import "~bootstrap/scss/bootstrap-grid.scss";
@import "global";
@import "material-you";

:host {
	display: flex;
}

.accent-switcher {
	display: flex;
    margin: 2rem 0rem;
    height: 8rem;
	gap: 2rem;

	@include media-breakpoint-down(lg) {
		max-width: 100%;
	}

	&__picture {
		user-select: none;
		width: 5rem;
		overflow: hidden;
		border-radius: 2.5rem;
		transition: border-radius $theme-transition-speed ease;
		border: transparent solid 3px;

		&--selected {
			border: #{var(--md-sys-color-primary)} solid 3px;
			border-radius: 1.2rem;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}
}
