@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "global";
@import "material-you";

:host {
	display: flex;
}

.profile-card {
	@include material-colored--primary;

	width: 20rem;
    overflow: hidden;
    display: flex;
	flex-direction: column;
	border-radius: $container-border-radius;

	@include media-breakpoint-down(md) {
		width: 100%;
		height: 100%;
	}

	&__header {
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;

		@include media-breakpoint-only(md) {
			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
			align-items: center;
		}
	}

	&__cover-container {
		display: flex;
		width: 100%;
		margin-bottom: 4rem;
		aspect-ratio: 16/9;
	}

	&__cover {
		display: flex;
		width: 100%;
		position: absolute;
		transition: opacity 0.25s ease;
		overflow: hidden;
		border-radius: $container-border-radius;
		aspect-ratio: 16/9;

		&--first-image-disabled {
			opacity: 0;
		}

		&--second-image-disabled {
			opacity: 0;
		}
	}

	&__photo-container {
		display: flex;
		justify-content: center;
		margin-top: -8rem;
		// position: absolute;
		// bottom: 0;
		// left: 28%;

		// @include media-breakpoint-down(md) {
		// 	bottom: -20%;
		// 	left: auto;
		// }
	}

	&__profile-photo {
		@include material-mask--jagged-circle;
		width: 128px;
		padding: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;

		// padding: 0.5rem;
		// object-fit: contain;
		// border-radius: 50%;
		background-color: #{var(--md-sys-color-secondary-container)};
	}

	&__photo {
		@include material-mask--jagged-circle;
		user-select: none;
		width: 100%;
		aspect-ratio: 1/1;
	}

	&__text {
		padding: $container-padding;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	&__name {
		font-size: 1.25rem;
		font-weight: bold;
	}

	&__tagline {
		margin-bottom: 1.5rem;
	}

	&__contact {
		@include material-button--basic-secondary;
	}
}
