@import "global";
@import "material-you";

.profile-card {
	@include theme-transition;
	@include material-basic--primary;
	width: 20rem;
    overflow: hidden;
    display: flex;
	flex-direction: column;
	border-radius: $container-border-radius;

	&__cover {
		width: 100%;
		border-radius: $container-border-radius;
	}
}
