<article class="profile-card">
	<header class="profile-card__header">
		<picture class="profile-card__cover-container">
			<img
				[src]="'/assets/img/' + coverImage + '-min.jpg'"
				class="profile-card__cover profile-card__cover--first-image"
				[class.profile-card__cover--first-image-disabled]="isSecondCoverImageActive"
				[alt]="'First hero banner ' + coverImage + ' image'"
				draggable="false"
			/>
			<img
				[src]="'/assets/img/' + secondCoverImage + '-min.jpg'"
				class="profile-card__cover profile-card__cover--second-image"
				[class.profile-card__cover--second-image-disabled]="!isSecondCoverImageActive"
				[alt]="'Second hero banner ' + secondCoverImage + ' image'"
				draggable="false"
			/>
		</picture>
		<div class="profile-card__photo-container">
			<picture class="profile-card__profile-photo">
				<img src="/assets/img/me-min.jpg" class="profile-card__photo" alt="Profile picture" height="10" width="100" draggable="false"/>
			</picture>
		</div>
	</header>
	<section class="profile-card__text">
		<h1 class="profile-card__name">{{ name }}</h1>
		<span class="profile-card__tagline">{{ tagline }}</span>
		<a href="https://dartegnian.com" class="profile-card__contact" target="_blank">
			<span class="material-symbols-rounded theme-swticher__toggle-icon">
				edit
			</span>
			Blog
		</a>
	</section>
</article>
