@import "~bootstrap/scss/bootstrap-grid.scss";
@import "global";
@import "material-you";

.built-websites {
	&__header {
		@include material-colored--tertiary;
		// max-width: fit-content;
		width: 100%;
		border-radius: $container-border-radius;
		padding: 4rem 2rem;
	}

	&__heading {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;
		// color: #{var(--md-sys-color-primary)};
	}

	&__header-icon {
		font-size: 2rem;
	}

	&__tagline {
		margin-bottom: 0rem;
	}

	&__sites {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-auto-flow: row;
		gap: 2rem;

		@include media-breakpoint-down(lg) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include media-breakpoint-down(md) {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-columns: auto;
			grid-auto-rows: auto;
		}
	}

	&__site {
		@include material-container--tertiary;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border-radius: $container-border-radius;
	}

	&__image {
		aspect-ratio: 16 / 9;
		overflow: hidden;
		border-radius: $container-border-radius;
	}

	&__site-header {
		padding: 1.5rem 1.3rem;
		padding-bottom: 0rem;
	}

	&__site-heading {
		font-weight: bold;
		margin-bottom: 0rem;
		color: inherit;
		text-decoration: none;
		font-size: 2rem;
	}

	&__site-content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 1.5rem 1.3rem;
	}

	&__site-description {
		margin-bottom: 2rem;
	}

	&__link {
		@include material-button--basic-tertiary;
		margin-top: auto;
		max-width: max-content;
	}
}