<article class="skill-picture">
	<section class="skill-picture__title">
		<span class="skill-picture__title-span">
			<span class="material-symbols-rounded skill-picture__title-icon">
				badge
			</span>
			Web developer
		</span>
	</section>
	<responsive-image
		[imageName]="'pexels-tranmautritam-251225'"
		class="skill-picture__photo"
		[imageAlt]="'Skill picture stock image'"
	></responsive-image>
	<section class="skill-picture__since">
		<span>Since <h1 class="skill-picture__since-date">2019</h1></span>
	</section>
</article>
