@import "material-you";

$image-size: 27rem;
$since-position: -15%;
$title-position: -5%;

:host {
	display: flex;
	align-items: center;
    justify-content: center;
	flex-grow: 1;

	@include media-breakpoint-down(lg) {
		margin-bottom: 7.5rem;
	}
}

.skill-picture {
	position: relative;
	display: flex;

	&__title {
		@include material-button;
		@include material-container--tertiary;
		position: absolute;
		display: flex;
		top: $title-position;
		right: $since-position;
		align-items: center;
	}

	&__title-span {
		display: flex;
		align-items: center;
	}

	&__title-icon {
		margin-right: $icon-margin-right;
	}

	&__photo {
		display: flex;
		width: $image-size;
		height: $image-size;
		overflow: hidden;
		border-radius: $container-border-radius;
		justify-content: center;

		@include media-breakpoint-down(lg) {
			width: $image-size - 8;
			height: $image-size - 8;
		}
	}

	&__img {
		user-select: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__since {
		@include material-mask--octagonal-circle;
		@include material-basic--primary;

		position: absolute;
		display: flex;
		flex-direction: column;
		text-align: center;
		bottom: $since-position;
		left: $since-position;
		padding: 3rem;
		font-weight: 500;
	}

	&__since-date {
		font-weight: bold;
	}
}
