.material-theme {
	--md-sys-color-primary-light: #00639a;
	--md-sys-color-on-primary-light: #ffffff;
	--md-sys-color-primary-container-light: #cee5ff;
	--md-sys-color-on-primary-container-light: #001d32;
	--md-sys-color-secondary-light: #51606f;
	--md-sys-color-on-secondary-light: #ffffff;
	--md-sys-color-secondary-container-light: #d5e4f6;
	--md-sys-color-on-secondary-container-light: #0e1d2a;
	--md-sys-color-tertiary-light: #68587a;
	--md-sys-color-on-tertiary-light: #ffffff;
	--md-sys-color-tertiary-container-light: #eedbff;
	--md-sys-color-on-tertiary-container-light: #221533;
	--md-sys-color-error-light: #ba1a1a;
	--md-sys-color-on-error-light: #ffffff;
	--md-sys-color-error-container-light: #ffdad6;
	--md-sys-color-on-error-container-light: #410002;
	--md-sys-color-outline-light: #72777f;
    --md-sys-color-outline-variant-light: #c2c7cf;
	--md-sys-color-background-light: #fcfcff;
	--md-sys-color-on-background-light: #1a1c1e;
	--md-sys-color-surface-light: #fcfcff;
	--md-sys-color-on-surface-light: #1a1c1e;
	--md-sys-color-surface-variant-light: #dee3eb;
	--md-sys-color-on-surface-variant-light: #42474e;
	--md-sys-color-inverse-surface-light: #2f3033;
	--md-sys-color-inverse-on-surface-light: #f0f0f4;
    --md-sys-color-inverse-primary-light: #95ccff;
	--md-sys-color-primary-dark: #94ccff;
	--md-sys-color-on-primary-dark: #003352;
	--md-sys-color-primary-container-dark: #004b74;
	--md-sys-color-on-primary-container-dark: #cde5ff;
	--md-sys-color-secondary-dark: #b9c8da;
	--md-sys-color-on-secondary-dark: #233240;
	--md-sys-color-secondary-container-dark: #394857;
	--md-sys-color-on-secondary-container-dark: #d4e4f6;
	--md-sys-color-tertiary-dark: #d2bfe7;
	--md-sys-color-on-tertiary-dark: #382a4a;
	--md-sys-color-tertiary-container-dark: #4f4061;
	--md-sys-color-on-tertiary-container-dark: #eedcff;
	--md-sys-color-error-dark: #ffb4ab;
	--md-sys-color-on-error-dark: #690005;
	--md-sys-color-error-container-dark: #93000a;
	--md-sys-color-on-error-container-dark: #ffb4ab;
	--md-sys-color-outline-dark: #8c9198;
    --md-sys-color-outline-variant-dark: #42474e;
	--md-sys-color-background-dark: #1a1c1e;
	--md-sys-color-on-background-dark: #e2e2e5;
	--md-sys-color-surface-dark: #1a1c1e;
	--md-sys-color-on-surface-dark: #e2e2e5;
	--md-sys-color-surface-variant-dark: #42474e;
	--md-sys-color-on-surface-variant-dark: #c2c7cf;
	--md-sys-color-inverse-surface-dark: #e2e2e5;
	--md-sys-color-inverse-on-surface-dark: #2f3033;
    --md-sys-color-inverse-primary-dark: #006399;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
}
@media (prefers-color-scheme: light) {
  .material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
	--md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  }
  .dark-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
	--md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  }
}
@media (prefers-color-scheme: dark) {
  .material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
	--md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  }
  .light-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
	--md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  }
}
