.material-theme {
	--md-sys-typescale-headline1-font: Roboto;
  	--md-sys-typescale-headline1-weight: Regular;
  	--md-sys-typescale-headline1-size: 36px;
  	--md-sys-typescale-headline1-line-height: 44px;
  	--md-sys-typescale-headline1-tracking: 0px;
	--md-sys-typescale-display3-font: Roboto;
  	--md-sys-typescale-display3-weight: Regular;
  	--md-sys-typescale-display3-size: 45px;
  	--md-sys-typescale-display3-line-height: 52px;
  	--md-sys-typescale-display3-tracking: 0px;
	--md-sys-typescale-display2-font: Roboto;
  	--md-sys-typescale-display2-weight: Regular;
  	--md-sys-typescale-display2-size: 57px;
  	--md-sys-typescale-display2-line-height: 64px;
  	--md-sys-typescale-display2-tracking: -0.25px;
	--md-sys-typescale-headline4-font: Roboto;
  	--md-sys-typescale-headline4-weight: Regular;
  	--md-sys-typescale-headline4-size: 24px;
  	--md-sys-typescale-headline4-line-height: 32px;
  	--md-sys-typescale-headline4-tracking: 0px;
	--md-sys-typescale-headline3-font: Roboto;
  	--md-sys-typescale-headline3-weight: Regular;
  	--md-sys-typescale-headline3-size: 28px;
  	--md-sys-typescale-headline3-line-height: 36px;
  	--md-sys-typescale-headline3-tracking: 0px;
	--md-sys-typescale-headline2-font: Roboto;
  	--md-sys-typescale-headline2-weight: Regular;
  	--md-sys-typescale-headline2-size: 32px;
  	--md-sys-typescale-headline2-line-height: 40px;
  	--md-sys-typescale-headline2-tracking: 0px;
	--md-sys-typescale-overline-font: Roboto;
  	--md-sys-typescale-overline-weight: Medium;
  	--md-sys-typescale-overline-size: 12px;
  	--md-sys-typescale-overline-line-height: 16px;
  	--md-sys-typescale-overline-tracking: 0.5px;
	--md-sys-typescale-button-font: Roboto;
  	--md-sys-typescale-button-weight: Medium;
  	--md-sys-typescale-button-size: 14px;
  	--md-sys-typescale-button-line-height: 20px;
  	--md-sys-typescale-button-tracking: 0.10000000149011612px;
	--md-sys-typescale-subhead2-font: Roboto;
  	--md-sys-typescale-subhead2-weight: Medium;
  	--md-sys-typescale-subhead2-size: 14px;
  	--md-sys-typescale-subhead2-line-height: 20px;
  	--md-sys-typescale-subhead2-tracking: 0.10000000149011612px;
	--md-sys-typescale-subhead1-font: Roboto;
  	--md-sys-typescale-subhead1-weight: Medium;
  	--md-sys-typescale-subhead1-size: 16px;
  	--md-sys-typescale-subhead1-line-height: 24px;
  	--md-sys-typescale-subhead1-tracking: 0.15000000596046448px;
	--md-sys-typescale-headline5-font: Roboto;
  	--md-sys-typescale-headline5-weight: Regular;
  	--md-sys-typescale-headline5-size: 22px;
  	--md-sys-typescale-headline5-line-height: 28px;
  	--md-sys-typescale-headline5-tracking: 0px;
	--md-sys-typescale-caption-font: Roboto;
  	--md-sys-typescale-caption-weight: Regular;
  	--md-sys-typescale-caption-size: 12px;
  	--md-sys-typescale-caption-line-height: 16px;
  	--md-sys-typescale-caption-tracking: 0.4000000059604645px;
	--md-sys-typescale-body2-font: Roboto;
  	--md-sys-typescale-body2-weight: Regular;
  	--md-sys-typescale-body2-size: 14px;
  	--md-sys-typescale-body2-line-height: 20px;
  	--md-sys-typescale-body2-tracking: 0.25px;
	--md-sys-typescale-body1-font: Roboto;
  	--md-sys-typescale-body1-weight: Regular;
  	--md-sys-typescale-body1-size: 16px;
  	--md-sys-typescale-body1-line-height: 24px;
  	--md-sys-typescale-body1-tracking: 0.5px;
	--md-sys-color-primary-light: #734aa4;
	--md-sys-color-on-primary-light: #ffffff;
	--md-sys-color-primary-container-light: #eedbff;
	--md-sys-color-on-primary-container-light: #2a0053;
	--md-sys-color-secondary-light: #6c46be;
	--md-sys-color-on-secondary-light: #ffffff;
	--md-sys-color-secondary-container-light: #e9ddff;
	--md-sys-color-on-secondary-container-light: #23005b;
	--md-sys-color-tertiary-light: #904279;
	--md-sys-color-on-tertiary-light: #ffffff;
	--md-sys-color-tertiary-container-light: #ffd8ed;
	--md-sys-color-on-tertiary-container-light: #3b002f;
	--md-sys-color-error-light: #ba1a1a;
	--md-sys-color-on-error-light: #ffffff;
	--md-sys-color-error-container-light: #ffdad6;
	--md-sys-color-on-error-container-light: #410002;
	--md-sys-color-outline-light: #7b757f;
	--md-sys-color-background-light: #fffbff;
	--md-sys-color-on-background-light: #23005c;
	--md-sys-color-surface-light: #fffbff;
	--md-sys-color-on-surface-light: #23005c;
	--md-sys-color-surface-variant-light: #e8e0eb;
	--md-sys-color-on-surface-variant-light: #4a454e;
	--md-sys-color-inverse-surface-light: #391e72;
	--md-sys-color-inverse-on-surface-light: #f6edff;
	--md-sys-color-primary-dark: #dab9ff;
	--md-sys-color-on-primary-dark: #431672;
	--md-sys-color-primary-container-dark: #5a318a;
	--md-sys-color-on-primary-container-dark: #eedbff;
	--md-sys-color-secondary-dark: #d1bcff;
	--md-sys-color-on-secondary-dark: #3c038e;
	--md-sys-color-secondary-container-dark: #532aa5;
	--md-sys-color-on-secondary-container-dark: #e9ddff;
	--md-sys-color-tertiary-dark: #ffade1;
	--md-sys-color-on-tertiary-dark: #591148;
	--md-sys-color-tertiary-container-dark: #742a60;
	--md-sys-color-on-tertiary-container-dark: #ffd8ed;
	--md-sys-color-error-dark: #ffb4ab;
	--md-sys-color-on-error-dark: #690005;
	--md-sys-color-error-container-dark: #93000a;
	--md-sys-color-on-error-container-dark: #ffdad6;
	--md-sys-color-outline-dark: #958e98;
	--md-sys-color-background-dark: #23005c;
	--md-sys-color-on-background-dark: #e9ddff;
	--md-sys-color-surface-dark: #23005c;
	--md-sys-color-on-surface-dark: #e9ddff;
	--md-sys-color-surface-variant-dark: #4a454e;
	--md-sys-color-on-surface-variant-dark: #ccc4cf;
	--md-sys-color-inverse-surface-dark: #e9ddff;
	--md-sys-color-inverse-on-surface-dark: #23005c;
}
@media (prefers-color-scheme: light) {
  .material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  }
  .dark-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  }
}
@media (prefers-color-scheme: dark) {
  .material-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  }
  .light-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  }
}