<article class="skill-list">
  <header class="skill-list__header">
    <div class="skill-list__header-container">
      <h2 class="skill-list__header-text">I am primarily an </h2>
      <h2 class="skill-list__header-text skill-list__header-text--highlighted">IT Senior Developer</h2>
    </div>
    <h2 class="skill-list__subheading">Who has helped in the development of 8 websites so far. Here are the technologies I am familiar with.</h2>
  </header>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        verified
      </span>
      Certifications
    </h3>
    <div class="skill-list__stack">
      @for (stackItem of certifications; track stackItem) {
        <ng-container
          [ngTemplateOutlet]="stackItemElement"
          [ngTemplateOutletContext]="{stackItem:stackItem}"
        ></ng-container>
      }
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        all_inclusive
      </span>
      DevOps
    </h3>
    <div class="skill-list__stack">
      @for (stackItem of devOpsStack; track stackItem) {
        <ng-container
          [ngTemplateOutlet]="stackItemElement"
          [ngTemplateOutletContext]="{stackItem:stackItem}"
        ></ng-container>
      }
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        language
      </span>
      Front-end Web
    </h3>
    <div class="skill-list__stack">
      @for (stackItem of feWebStack; track stackItem) {
        <ng-container
          [ngTemplateOutlet]="stackItemElement"
          [ngTemplateOutletContext]="{stackItem:stackItem}"
        ></ng-container>
      }
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        dns
      </span>
      Back-end Web
    </h3>
    <div class="skill-list__stack">
      @for (stackItem of beWebStack; track stackItem) {
        <ng-container
          [ngTemplateOutlet]="stackItemElement"
          [ngTemplateOutletContext]="{stackItem:stackItem}"
        ></ng-container>
      }
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        code
      </span>
      General Development
    </h3>
    <div class="skill-list__stack">
      @for (stackItem of generalStack; track stackItem) {
        <ng-container
          [ngTemplateOutlet]="stackItemElement"
          [ngTemplateOutletContext]="{stackItem:stackItem}"
        ></ng-container>
      }
    </div>
  </section>
</article>

<ng-template #stackItemElement let-stackItem="stackItem">
  <span
    class="iconify skill-list__stack-item"
    >
    <div class="skill-list__stack-icon-container">
      <i
        class="iconify skill-list__stack-icon"
        [attr.data-icon]="stackItem.icon"
        width="2rem"
        height="2rem"
        data-width="2rem"
        data-height="2rem"
      ></i>
    </div>
    <span class="skill-list__stack-text">
      {{ stackItem.text }}
    </span>
  </span>
</ng-template>
