<article class="skill-list">
  <header class="skill-list__header">
    <div class="skill-list__header-container">
      <h1 class="skill-list__header-text">{{ 'SKILL_LIST_HEADER' | translate }}</h1>
      <h1 class="skill-list__header-text skill-list__header-text--highlighted">{{ 'SKILL_LIST_HIGHLIGHT' | translate }}</h1>
    </div>
    <h2 class="skill-list__subheading">{{ 'SKILL_LIST_SUBHEADING' | translate }}</h2>
  </header>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        all_inclusive
      </span>
      {{ 'DEVOPS' | translate }}
    </h3>
    <div class="skill-list__stack">
      <ng-container
        *ngFor="let stackItem of devOpsStack"
        [ngTemplateOutlet]="stackItemElement"
        [ngTemplateOutletContext]="{stackItem:stackItem}"
      ></ng-container>
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        language
      </span>
      {{ 'FRONT_END_WEB' | translate }}
    </h3>
    <div class="skill-list__stack">
      <ng-container
        *ngFor="let stackItem of feWebStack"
        [ngTemplateOutlet]="stackItemElement"
        [ngTemplateOutletContext]="{stackItem:stackItem}"
      ></ng-container>
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        dns
      </span>
      {{ 'BACK_END_WEB' | translate }}
    </h3>
    <div class="skill-list__stack">
      <ng-container
        *ngFor="let stackItem of beWebStack"
        [ngTemplateOutlet]="stackItemElement"
        [ngTemplateOutletContext]="{stackItem:stackItem}"
      ></ng-container>
    </div>
  </section>
  <section class="skill-list__area">
    <h3 class="skill-list__area-header">
      <span class="skill-list__area-header-icon material-symbols-rounded">
        code
      </span>
      {{ 'GENERAL_DEVELOPMENT' | translate }}
    </h3>
    <div class="skill-list__stack">
      <ng-container
        *ngFor="let stackItem of generalStack"
        [ngTemplateOutlet]="stackItemElement"
        [ngTemplateOutletContext]="{stackItem:stackItem}"
      ></ng-container>
    </div>
  </section>
</article>

<ng-template #stackItemElement let-stackItem="stackItem">
  <span class="iconify skill-list__stack-item">
    <div class="skill-list__stack-icon-container">
      <i
        class="iconify skill-list__stack-icon"
        [attr.data-icon]="stackItem.icon"
        width="2rem"
        height="2rem"
        data-width="2rem"
        data-height="2rem"
      ></i>
    </div>
    <span class="skill-list__stack-text">
      {{ stackItem.text }}
    </span>
  </span>
</ng-template>
