:host {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.responsive-image {
	display: flex;
	flex-grow: 1;
	justify-content: center;

	&__fallback-img {
		object-fit: cover;
		object-position: center;
		width: 100%;
	}
}
