@import "material-you";

.updating-snackbar {
	position: fixed;
	z-index: 3;
	bottom: 2rem;
	left: 50%;
	transform: translate(-50%, 0);

	@include material-button--filled-tertiary;
	border-radius: 14px;
	height: 3.5rem;
	font-weight: 500;
	box-shadow: $elevated-shadow;

	&--hidden {
		visibility: hidden;
		transform: translate(-50%, 2rem);
	}
}

.fade-in {
	&--up {
		animation: fadeInUp 0.75s ease-in forwards;
	}

	&--down {
		animation: fadeInDown 0.75s ease-in forwards;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate(-50%, 2rem);
	}

	to {
		opacity: 1;
		transform: translate(-50%, 0rem);
		visibility: visible;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 1;
		transform: translate(-50%, 0);
	}

	to {
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, 2rem);
	}
}