<article class="hero-banner" id="hero-banner">
	<section class="hero-banner__text-container">
		<h1 class="hero-banner__header">Dartegnian's Portfolio</h1>
		<h2 class="hero-banner__subheader">An interactive portfolio website with Material You implementation. Colors dynamically adjust to a selected theme. Choose one below to get started.</h2>
		<accent-switcher></accent-switcher>
	</section>
	<img
		[src]="'/assets/img/' + heroImage + '-min.jpg'"
		class="hero-banner__img hero-banner__img--first-image"
		[class.hero-banner__img--first-image-disabled]="isSecondHeroImageActive"
		[alt]="'First hero banner ' + heroImage + ' image'"
		draggable="false"
	/>
	<img
		[src]="'/assets/img/' + secondHeroImage + '-min.jpg'"
		class="hero-banner__img hero-banner__img--second-image"
		[class.hero-banner__img--second-image-disabled]="!isSecondHeroImageActive"
		[alt]="'Second hero banner ' + heroImage + ' image'"
		draggable="false"
	/>
</article>
