@import "material-you";

.profile-intro {
	display: flex;
	gap: 2rem;
	padding: 0rem 2rem;

	@include media-breakpoint-down(md) {
		flex-direction: column-reverse;
	}
}

.profile-body {
	margin: 2rem;

	&--themed {
		margin: 2rem 0rem;
		@include material-container--primary;
		padding: 0rem;
		border-radius: $container-border-radius;
	}

	&--themed-secondary {
		@include material-container--secondary;
	}
}

.at-a-glance {
	margin: 0rem 2rem;
}

.skill-section {
	display: flex;
    overflow: hidden;
	flex-direction: column;
	padding: $full-container-padding;

	&__container {
    display: flex;
    overflow: hidden;
    padding: $full-container-padding;
    overflow: visible;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    & > * {
      flex: 1;
    }
  }
}
