<main class="portfolio-body">
	<theme-switcher></theme-switcher>
	<hero-banner></hero-banner>
	<section class="profile-intro">
		<profile-card></profile-card>
		<profile-info></profile-info>
	</section>
	<section class="at-a-glance">
		<life-at-a-glance></life-at-a-glance>
	</section>
	<section class="skill-section profile-body profile-body--themed">
		<article class="skill-section__container">
			<skill-picture></skill-picture>
			<skill-info></skill-info>
		</article>
		<article class="skill-section__container">
			<skill-list></skill-list>
		</article>
	</section>
	<section class="profile-body">
		<resume-request></resume-request>
	</section>
</main>

<router-outlet></router-outlet>
<active-color-scheme></active-color-scheme>