<main class="portfolio-body">
	<theme-switcher></theme-switcher>
	<hero-banner></hero-banner>
	<section class="profile-intro">
		<profile-card></profile-card>
		<profile-info></profile-info>
	</section>
	<section class="at-a-glance">
		<life-at-a-glance></life-at-a-glance>
	</section>
	<section class="skill-section profile-body profile-body--themed">
		<skill-picture></skill-picture>
		<skill-info></skill-info>
	</section>
	<section class="profile-body">
		<surface-test></surface-test>
	</section>
</main>

<router-outlet></router-outlet>
<active-color-scheme></active-color-scheme>