<article class="email-cta">
	<div class="email-cta__icon-container">
		<span class="email-cta__icon material-symbols-rounded">
			description
		</span>
	</div>
	<section class="email-cta__text">
		<span>There are some aspects of my career that are not included in this portfolio. My full details are available on my resume. My creative resume includes the following:</span>
		<ul>
			<li>Career history: current workplace and past employments</li>
			<li>Career details: a detailed overview of my tasks per employment</li>
			<li>Educational background: a brief rundown of my entire education</li>
		</ul>
		<span>Want a resume instead? Click the button below to send an email.</span>
		<a href="mailto:hiring@dartegnian.com?subject=Request%20for%20Resume&body=Hello%20Dartegnian%2C%0D%0A%0D%0AI'm%20a%20visitor%20of%20your%20portfolio.%20I%20would%20like%20to%20request%20your%20resume.%0D%0A%0D%0A(Add%20other%20details%20here%2C%20preferably%20add%20the%20details%20of%20the%20position%2Frole%20you%20may%20have%20open.)" class="email-cta__email-button">
			<span class="material-symbols-rounded">
				send
			</span>
		Email me</a>
	</section>
</article>
