@mixin material-colored--secondary {
	@include theme-transition();
	color: #{var(--md-sys-color-on-secondary)};
	background-color: #{var(--md-sys-color-secondary)};
}

@mixin material-basic--secondary {
	@include theme-transition();
	color: #{var(--md-sys-color-secondary)};
	background-color: #{var(--md-sys-color-on-secondary)};
}

@mixin material-container--secondary {
	@include theme-transition();
	color: #{var(--md-sys-color-on-secondary-container)};
	background-color: #{var(--md-sys-color-secondary-container)};
}

@mixin material-inverted--secondary {
	@include theme-transition();
	color: #{var(--md-sys-color-secondary-container)};
	background-color: #{var(--md-sys-color-on-secondary-container)};
}
