@import "global";

@mixin material-colored--tertiary {
	@include theme-transition();
	color: #{var(--md-sys-color-on-tertiary)};
	background-color: #{var(--md-sys-color-tertiary)};
}

@mixin material-basic--tertiary {
	@include theme-transition();
	color: #{var(--md-sys-color-tertiary)};
	background-color: #{var(--md-sys-color-on-tertiary)};
}

@mixin material-container--tertiary {
	@include theme-transition();
	color: #{var(--md-sys-color-on-tertiary-container)};
	background-color: #{var(--md-sys-color-tertiary-container)};
}

@mixin material-inverted--tertiary {
	@include theme-transition();
	color: #{var(--md-sys-color-tertiary-container)};
	background-color: #{var(--md-sys-color-on-tertiary-container)};
}
