<article class="skill-info">
	<header class="skill-info__header">
		<span class="skill-info__header-block">
			<h1 class="skill-info__header-text">
				<span class="material-symbols-rounded skill-info__header-text-icon">
					public
				</span>
			</h1>
			<h1 class="skill-info__header-text">I am</h1>
			<h1 class="skill-info__header-text skill-info__header-text--highlighted">web-{{ webAttribute }}<div class="skill-info__cursor"></div></h1>
		</span>
	</header>
	<section class="skill-info__text">
		<p>Ever since its inception, the World Wide Web has served as a fundemental mold that brings technologies and infrastructures together. I first started editing HTML templates for my blog and website.</p>
		<p>As a developer, I want to tap in to the ever-changing landscape and grow more in the field. It's very interesting to me to have the opportunity to develop software that works on a myriad of device types. Ever since getting into web development in 2019, I've expanded into the role of a DevOps engineer as of writing.</p>
	</section>
	<section class="skill-info__buttons">
		<a href="https://behance.net/Dartegnian" class="skill-info__button">
			<span class="material-symbols-rounded skill-info__button-icon">
				palette
			</span>
			View my designs
		</a>
		<a href="https://behance.net/Dartegnian" class="skill-info__button">
			<span class="material-symbols-rounded skill-info__button-icon">
				import_contacts
			</span>
			Read my blog
		</a>
	</section>
</article>
