<div class="surfaces">
  <section class="surfaces__surface-list">
    @for (surface of surfaces; track surface; let i = $index) {
      <div class="surfaces__surface-group" >
        @for (surface of surfaces[i]; track surface) {
          <article [ngClass]="'surfaces__surface surfaces__surface--' + surface">
            <h2>Surface</h2>
            <p>This is a surface test for my portfolio.</p>
            <p><em>{{ surface }}</em></p>
          </article>
        }
      </div>
    }
  </section>
</div>