<article class="resume-request">
  <div class="resume-request__icon-container">
    <span class="resume-request__icon material-symbols-rounded" aria-label="resume request icon">
      description
    </span>
  </div>
  <section class="resume-request__text">
    <span>{{ 'RESUME_REQUEST_TEXT' | translate }}</span>
    <ul>
      <li *ngFor="let item of 'RESUME_REQUEST_LIST' | translate">{{ item }}</li>
    </ul>
    <span>{{ 'RESUME_REQUEST_PROMPT' | translate }}</span>
    <a href="mailto:contact@tomasps.com?subject=Request%20for%20Resume&body=Hello%20Tomas%2C%0D%0A%0D%0AI'm%20a%20visitor%20of%20your%20portfolio.%20I%20would%20like%20to%20request%20your%20resume.%0D%0A%0D%0A(Add%20other%20details%20here%2C%20preferably%20add%20the%20details%20of%20the%20position%2Frole%20you%20may%20have%20open.)" class="resume-request__email-button">
      <span class="material-symbols-rounded">
        send
      </span>
      {{ 'RESUME_REQUEST_BUTTON' | translate }}
    </a>
  </section>
</article>
