/* You can add global styles to this file, and also import other style files */
@import "global";
@import "material-you";
@import "fonts/font-poppins";
@import "fonts/font-material-symbols";

::-webkit-scrollbar {
    background: #2a1700;
    background: #{var(--md-sys-color-inverse-on-surface-dark)};
}
::-webkit-scrollbar-thumb {
    border-radius: 32px;
    background-color: #ffddba;
    background-color: #{var(--md-sys-color-inverse-surface-dark)};
}
::selection {
    background: #2a1700;
    color: #ffddba;
    background: #{var(--md-sys-color-inverse-on-surface-dark)};
    color: #{var(--md-sys-color-inverse-surface-dark)};
}

body {
	@include font-poppins;
	margin: 0;
	min-height: 100vh;
	background-color: #{var(--md-sys-color-background)};
}

.material-symbols-rounded {
	@include material-symbols-rounded;
	user-select: none;
}

.light-theme, .dark-theme {
	@include theme-transition();
}
