/* You can add global styles to this file, and also import other style files */
@import "global";
@import "material-you";
@import "fonts/font-poppins";
@import "fonts/font-material-symbols";
// @import "./assets/css/material-you--main.css";

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #f7f8f7;
}
::-webkit-scrollbar-thumb {
    background-color: #0099ff;
    background: linear-gradient(to bottom,#0099ff 0%,#19c1fc);
}
::selection {
    background: transparent;
    color: #0099ff;
}

body {
	@include font-poppins;
	margin: 0;
	min-height: 100vh;
	background-color: var(--md-sys-color-background);
	padding: 2rem;
}

.material-symbols-rounded {
	@include material-symbols-rounded;
}

.light-theme, .dark-theme {
	@include theme-transition;
}
