/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "global";
@import "material-you";
@import "fonts/font-material-symbols";

::-webkit-scrollbar {
    background: #23005c;
    background: #{var(--md-sys-color-inverse-on-surface-dark)};
}
::-webkit-scrollbar-thumb {
    border-radius: 32px;
    background-color: #e9ddff;
    background-color: #{var(--md-sys-color-inverse-surface-dark)};
}
::selection {
    background: #23005c;
    color: #e9ddff;
    background: #{var(--md-sys-color-inverse-on-surface-dark)};
    color: #{var(--md-sys-color-inverse-surface-dark)};
}

body {
	font-family: "Poppins", $system-fallback-fonts;
	margin: 0;
	min-height: 100vh;
	background-color: #{var(--md-sys-color-background)};
}

.material-symbols-rounded {
	@include material-symbols-rounded;
	user-select: none;
}

.light-theme, .dark-theme {
	@include theme-transition();
}

.noscript-wrapper {
	display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
	padding-left: 8%;
    padding-top: 6%;
}

.noscript {
	display: block;
    width: 70%;
    font-size: 28px;
    font-weight: 300;
    font-family: "Segoe UI", Poppins, system-ui, -apple-system, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	@include media-breakpoint-down(md) {
		font-size: 24px;
	}

	@include media-breakpoint-down(md) {
		width: 90%;
	}

	&__spiel {
		margin-bottom: 24px;
	}

	&__progress {
		margin-bottom: 48px;
	}

	&__qr-code {
		float: left;
		margin-right: 24px;
		width: 150px;
		height: 150px;

		@include media-breakpoint-down(md) {
			width: 110px;
			height: 110px;
		}
	}

	&__error-text {
		font-size: 12px;
		margin-bottom: 12px;
		display: block;

		@include media-breakpoint-down(md) {
			font-size: 10px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		&--with-link {
			font-size: 16px;
			margin-bottom: 44px;

			@include media-breakpoint-down(md) {
				font-size: 14px;
				margin-bottom: 32px;
			}
		}
	}
}

.noscript-header {
    margin-bottom: 24px;

	&__text {
		display: flex;
		align-items: center;
		font-size: 165px;
		font-weight: inherit;

		@include media-breakpoint-down(md) {
			font-size: 155px;
		}
	}
}
