@import "global";
@import "material-you";

:host {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

.profile-info {
	@include theme-transition;
	@include material-basic--primary;
	@include material-outline;

	display: flex;
	padding: $container-padding;
	border-radius: $container-border-radius;
	flex-grow: 1;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		font-size: 1.5rem;

		& > .material-symbols-rounded {
			margin-right: 0.75rem;
			font-size: inherit;
		}
	}

	&__detail {
		&:first-of-type {
			margin-bottom: 2rem;
		}
	}

	&__description {
		color: #{var(--md-sys-color-on-background)};
	}

	&__link {
		@include material-button--tonal-primary-inverted;
	}
}